*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 350px;
    height: 400px;
    text-align: center;
    font-size: 36px;
    margin: auto;
}

/* Header start */

header{
    position: relative;
    top: 20px;
    width: 300px;
    height: 90px;
    margin: auto;
    background-color: black;
}
.pager {
    position: relative;
    top: 3px;
    font-size: 25px;
    color: white;
}
.pager-screen {
    background-color: rgb(46, 194, 145);
    border: solid 10px;
    color: black;
    height: 40px;
    padding-top: 13px;
}

/* Header end */

/* Section start */

section {
    width: 300px;
    margin: auto;
    margin-top: 60px;
    height: 280px;
    background-color: rgb(172, 172, 172);
}

/* Top of section */

.phone {
    font-size: 25px;
    color: black;
}
.phone-name {
    position: relative;
    top: 6px;
}
.phone-view {
    background-color: rgba(16, 2, 2, 0.54);
    border: solid 10px;
    color: rgb(172, 172, 172);
    height: 40px;
    padding-top: 13px;
}

/* Buttons */

.buttons {
    width: 280px;
    margin: auto;
    margin-top: -10px;
}
.f-line button{
    width: 87px;
    height: 30px;    
}
.s-line button{
    width: 87px;
    height: 30px;
}
.t-line button{
    width: 87px;
    height: 30px;
}
.l-line button{
    width: 87px;
    height: 30px;
}

/* Section end */

/* Footer start */

footer {
    width: 300px;
    background-color: rgb(172, 172, 172);
    margin: auto;
    display: flex;
    flex-direction: column;
}
#reset {
    width: 280px;
    color: white;
    background-color: rgb(185, 5, 5);
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
}
#send {
    width: 280px;
    color: black;
    background-color: rgb(52, 187, 52);
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
}


/* Footer end */
